@import "tailwindcss";


body {

  background: url('/productivity-pattern.svg') repeat;
  background-size: 240px;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #f4f1ea;

  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
